insecure_public_key
insecure_private_key
.vagrant
Vagrantfile
hosts.yaml
hosts
vagrant_kubernetes.log
projects
build_inventory.sh
backup
diagrams/venv
terraform/pm?-cloudinit.cfg
terraform/terraform.tfstate.d/
terraform/.terraform
01-netcfg.yaml
cluster.yml*
