asttokens==3.0.0
decorator==5.2.1
diagrams==0.24.4
exceptiongroup==1.2.2
executing==2.1.0
graphviz==0.21
ipython==9.0.2
jedi==0.19.2
Jinja2==3.1.6
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
parso==0.8.4
pexpect==4.9.0
prompt_toolkit==3.0.50
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.19.1
six==1.17.0
stack-data==0.6.3
traitlets==5.14.3
typing_extensions==4.13.0
wcwidth==0.2.13
